.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-HomeHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-layout-header {
  background-color: #eeeeee;
}

.ant-menu {
  background-color: #eeeeee;
}

/*
below is the css for footer component
*/

.ant-layout-footer{
  background-color:	#0000AA;
  color:white;
}

.ant-layout-footer h5{
  color:white;
}

.homeBackground{
  background-image: url('./source/accounting-alone-application-938965.jpg');
  background-size: cover;
  height: 35em;
  text-align: center;
}
/*
below is the css for FAQs component
*/

.collapseHolder{
  margin-top:2em;
  margin-bottom:4em;
}

.collapseHolder h2{
  color:red;
}

/*
below is the css for Login component
*/
.LoginRow{
  background-image: url('./source/abstract-attractive-backdrop-988872.jpg');
  background-size:cover;
}

.LoginForm{
  margin:5em;
}

/*
below is the css for Apllication component
*/
.apllicationForm{
  background-image: url('./source/login-background.jpg');
  background-size:cover;
}

.serviceCard{
  height:25em;
  background-image: url('./source/abstract-attractive-backdrop-988872.jpg');
  background-size:cover;
}